* {
  margin: 0;
  padding: 0;
}

.App-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #252526;
  flex-direction: column;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: rgba(224, 224, 224);
  transition: all 1.5s ease;
}

.icon {
  font-size: 50px;
}

.icon:hover {
  background-color: rgba(0, 0, 0, 10%);
  border-radius: 50%;
  cursor: pointer;
}

.header-text {
  font-size: 46px;
  font-family: 'Inconsolata';
  color: rgba(224, 224, 224);
}

.nav-list-container {
  display: flex;
  gap: 40px;
}

.welcome-paragraph {
  font-size: 24px;
  font-family: 'Inconsolata';
  color: rgba(224, 224, 224);
  line-height: 30px;
}

.home-link-div {
  background-color: #252526;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.quote-page-div {
  color: rgba(224, 224, 224);
  font-size: 24px;
  font-family: 'Inconsolata';
  line-height: 30px;
  padding: 0 25px;
}

.p {
  width: 60%;
}

.nav-list {
  list-style: none;
  font-size: 24px;
  font-family: 'Inconsolata';
  align-self: center;
  color: rgba(224, 224, 224);
  text-decoration: none;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  width: 50%;
  height: 80%;
  box-shadow: 0 0 18px 12px rgb(255 255 250 / 20%);
}

.console {
  background-color: #858694;
  font-size: 24px;
  grid-column: 4 span;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
  color: #f2f2f4;
}

button {
  border: 1px solid #d1d1d1;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
}

button:nth-child(18) {
  grid-column: 2 span;
}

button:nth-child(5),
button:nth-child(9),
button:nth-child(13),
button:nth-child(17),
button:nth-child(20) {
  background-color: #f5913e;
}

@media (max-width: 550px) {
  .main-container {
    width: 80%;
  }
}
